body, html{  
  height:100%;
  font-family:Arial, Helvetica, sans-serif;
  ;
  
  }
  .bg{
    background-image:url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size:cover ;
    height:100%;
    

  }

.hidden{
  display:none;
}

 img{
   float:left;
   width:300px;
   height:400px;
   padding-right:20px;
   
 }
 .content{
   
   padding-bottom:20px;
   background-color: rgba(0, 0, 0, 0.7);
   padding-top: 30px;
   
   
 }
 .description{
   padding-left:20px;
 }
 #results
 {
  overflow: scroll;
  width: 100%;
  height: 100%; 
  
  }
  #results::-webkit-scrollbar{
    width:12px;
  }
  #results::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,1);
    border-radius: 10px;
    }
    #results::-webkit-scrollbar-thumb{
      border-radius: 10px;
      -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.7);
    }
 
 p, h1, h2, h3{
   color:white;
 }
 h1, #js-form{
   text-align: center;
   
 }

 h1{
   padding-bottom: 
 }
 .Ftitle { 
   text-align: left;
   color: aqua;
 }
 .container{
   padding-top: 100px;
   padding-bottom: 50px;

 }
 


h2{
  
  text-align: center;
  margin:0;
  font-size: xx-large;
  font-family:Arial, Helvetica, sans-serif;
  color: aqua;
  }
  .overview{
    font-family: 'Courier New', Courier, monospace;
  } 
  .avg, .date{
    color:aqua;
    font: bolder;
  }
  .num, .dateR{
    color:white;
    font-size: x-large
  } 
  .list,#js-search-term,.Go{
    width: 150px;
    height: 30px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.7);
  } 
  .Go{
    background-color: aqua;
    
  }
  .Go:hover{
    background-color: cadetblue;
  } 
  .h1{
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
   
  }